<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BooYa! Social Media</title>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Projects
    </h1>
    {{# if logged_in}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
